<div class="column">
  <div class="previous-scores">
    <div *ngFor="let num of score.history" class="previous-score">{{num}}</div>
  </div>
  <div class="current-score">{{score.runningScore}}</div>
  <mat-form-field class="add-to-run">
    <mat-label>Add roll</mat-label>
    <input #inputElement matInput
    type="number"
    autocomplete="off"
    appDetectEnter
    (enterDetected)="addToScore()"
  />
  </mat-form-field>
</div>
<div class="column buttons">
  <button
    mat-raised-button
    color="warn"
    class="reset"
    [disabled]="!score.runningScore"
    (click)="reset()"
  >
    Reset total
  </button>
  <button
    mat-raised-button
    color="primary"
    class="add-score"
    [disabled]="!inputElement.value"
    (click)="addToScore()"
  >
    Add to Running Total
  </button>
</div>