@import '../../styles.scss';

:host {
  height: 0;
  width: 0;
}

.toast-list {
  @include flex-column;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  left: 8px;
  bottom: 8px;
}

.toast {
  border-radius: 4px;
  background: #6a0080;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0 8px;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}