<h1 class="title">Farkulator</h1>
<div class="main-column">
  <div class="players">
    <app-player *ngFor="let player of score.players" [player]="player"></app-player>
  </div>
  <ng-container *ngIf="!score.gameHasStarted">
    <app-new-player></app-new-player>
    <button
      mat-raised-button
      color="primary"
      [disabled]="score.players?.length < 2"
      class="start"
      (click)="score.start()"
    >
      Start game
    </button>
  </ng-container>
  <ng-template #justUndo>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!score.moves?.length"
      class="undo"
      (click)="undo()"
    >
      Undo
    </button>
  </ng-template>
  <ng-container *ngIf="score.gameHasStarted; else justUndo">
    <app-scorer></app-scorer>
    <app-player-decision></app-player-decision>
    <div class="bottom-buttons">
      <ng-container *ngTemplateOutlet="justUndo"></ng-container>    
      <button
        mat-raised-button
        color="basic"
        [disabled]="!score.players?.length"
        class="undo"
        (click)="score.startNewGame(false)"
      >
        New game
      </button>
    </div>
  </ng-container>
</div>